.container.mx-auto.px-6
  %h2.text-3xl Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.text-lg.mt-4
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full h-10 bg-gray-100 rounded-lg  px-2 mt-1"
    .field.text-lg.mt-4
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "current-password", class: "w-full h-10 bg-gray-100 rounded-lg  px-2 mt-1"
    - if devise_mapping.rememberable?
      .field.text-lg.mt-4
        = f.check_box :remember_me
        = f.label :remember_me
    .actions.text-lg.w-full.h-10.bg-yellow-400.rounded-lg.flex.items-center.justify-center.mt-8.text-white
      = f.submit "Log in"
  = render "devise/shared/links"
